:root {
    --accent-blue: #2d98da;
    --accent-hover: #45aaf2;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: "helvetica", "arial", sans-serif;
}

nav {
    background-color: #2d3436;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;

}

nav a {
    color: white;
    text-decoration: none;
    transition: color .2s;
}
nav a:hover{
    color: var(--accent-blue);

}

nav button {
    font-size: 18px;
    border:none;
    background-color:var(--accent-blue) ;
    padding: 8px 22px;
    border-radius: 50px;
    cursor:pointer;
    transition: background-color .2s;
}
nav button:hover{
    background-color: var(--accent-hover);
}
nav button i{
    color: white;
}




